@use "../../styles/variables"as *;

.tarea {
    @include flexCenter(column);
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    gap: 8px;





    .descripcionYestado {
        @include flexCenter(column);
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 8px;
            max-width: 210px;

        p {
            color: var(--color-text-general);
            font-size: 16px;
                padding: 0px 0px 8px 8px;
    margin-top: -8px;
        }
    }

    .containerTitle {
        @include flexCenter(row);
        justify-content: space-between;
width: 100%;
min-height: 36px;

            .title {
        color: var(--color-secondary);
        font-size: 16px;
        width: 100%;
            max-width: 210px;
                padding: 8px 0px 8px 8px;

        .numeroId {
            color: var(--color-primary);
        }
    }
    }

}

.containerBotones {
    @include flexCenter(row);
    gap: 24px;
    width: 100px;

    .btnPendiente {
        @include flexCenter(row);
        background: none;
        color: #005d8c;
        border: none;
        width: 20px;
        height: 20px;

        &:hover {
            background-color: #c1d9fe91;
            color: #014466;
            border-radius: 4px;   
            padding: 4px;       
                    width: 24px;
        height: 24px;  
        }
    }

        .btnCompletada {
        @include flexCenter(row);
        background: none;
        color: #30cf00;
        border: none;
                width: 20px;
        height: 20px;

        &:hover {
            background-color: #2aac023a;
            color: #1a6902;
            border-radius: 4px;   
            padding: 4px;      
                    width: 24px;
        height: 24px;  
        }
    }

        .btnEliminar {
        @include flexCenter(row);
        background: none;
        color: #ea1a1a;
        border: none;
                width: 20px;
        height: 20px;

        &:hover {
            background-color: #ea1a1a4e;
            color: #a70707;
            border-radius: 4px;   
            padding: 4px;     
                    width: 24px;
        height: 24px;  
        }
    }
}





@media screen and (min-width:1024px) {


    .tarea {
        border: 3px solid var(--color-primary);
        border-radius: 16px;
                min-height: 64px;


        .descripcionYestado {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
                max-width: 420px;





            p:first-child {
                max-width: 320px;
            }

            p {
                font-size: 16px;
                                    padding: 0px 0px 16px 16px;
    margin-top: -16px;
            }
        }

            .containerTitle {


            .title {
        font-size: 20px;
            max-width: 420px;
                padding: 16px 0px 16px 16px;

    }
    }

    }


    .containerBotones {


    .btnPendiente {

        width: 24px;
        height: 24px;

                &:hover {
                    width: 28px;
        height: 28px;  
        }
    }

        .btnCompletada {

                width: 24px;
        height: 24px;
                &:hover {
                    width: 28px;
        height: 28px;  
        }

    }

        .btnEliminar {

                width: 24px;
        height: 24px;

                &:hover {
                    width: 28px;
        height: 28px;  
        }
    }
}

}

.completada {
    background-color: #e6f7fd !important;

    :global(&) {
        background-color: #e6f7fd !important;
    }
}