@use "../../styles/variables"as *;

.navbar {
    @include flexCenter(column);
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    padding: 16px;
    min-width: 340px;

    h1 {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-primary);

    }

    input {
        height: 36px;
        border-radius: 8px;
        padding: 4px 8px;
        width: 100%;
        max-width: 310px;
        background: var(--color-bg);
        color: var(--color-text-general);
        border: 2px solid var(--color-secondary);
outline: none; 
  
  // (Opcional) Un toque de transición para que el cambio de color sea suave
  transition: border-color 0.2s ease;

        &::placeholder {
            color: var(--color-text-secondary);
        }

        &:focus {
            border-color: var(--color-primary);
        }
    }

    .logoTodoan {
        max-width: 130px;
    }
}

@media screen and (min-width: 1024px) {


    .navbar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: 3px solid var(--color-primary);
        border-radius: 16px;
        padding: 16px 32px;
        max-width: 1200px;

        h1 {
            font-size: 32px;
        }

        input {
            height: 48px;
            width: 100%;
            width: 700px;
            font-size: 16px;
            max-width: 800px;

        }

            .logoTodoan {
        max-width: 230px;
    }
    }
}